@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*
{
     font-family: 'Poppins', sans-serif;
}
.container
{
    height: 98vh;
    width: 100%;
    background-color: rgb(152, 200, 222);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-editor
{
    height: 75vh;
    width: 60%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}
.col-1
{
    height: 70vh;
    width: 38%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.col-2
{
    height: 70vh;
    width: 55%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2.5vh;
}
.row-1-text
{
    height: 8vh;
    background-color: #fff;
    /* border: 1px solid black; */
}
.row-2-stuff
{
    height: 48vh;
    border: 1px solid black;
    margin-top: 5vh;
}
.row-3-btn
{
    height: 10vh;
    background-color: #fff;
    /* border: 1px solid black; */
    display: flex;
    justify-content: start;
    align-items: center;
}
.row-empty
{
    height: 8vh;

}
.row-1-img
{
    height: 48vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-2-btn
{
    height: 10vh;
    background-color: #ffffff;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
img
{
    height: 40vh;
    width: 80%;
    border-radius: 12px;
    /* filter: brightness(0.2); */
}
button
{
    height: 5vh;
    width: 35%;
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    left: 10%;
}
.btn-1
{
    border: 2px solid rgb(1, 1, 92);
    margin-top: 2.5vh;
    position: static;
}
.btn-2
{
    background-color: gray;
    color: white;
    border: none;
    position: static;
}
.btn-3
{
    background-color: rgb(8, 86, 187);
    color: white;
    border: none;   
    position: static;
}
h3
{
    margin-left: 25px;
}

@media screen and (max-width:423px){.container
{
    height: 250vh;
    width: 100%;
    background-color: rgb(152, 200, 222);
    display: inline;
}
.col-1
{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.col-2
{
    height: 100vh;
    width: 100%;
    background: white;
    margin-top: 2.5vh;
}
.img-editor
{
    margin-top: 15vh;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}
.row-2-stuff
{
    width: 100%;
    height: 60vh;
    border: 1px solid black;
    margin-top: 5vh;
}
#btn-9
{
    width: 60%;
    position: relative;
    top: -10vh;
    left: 18%;
}
#btn-10,#btn-11
{
    position: relative;
    left: -15%;
}
}

@media screen and (min-width:424px) and (max-width:768px){.container
    {
        height: 250vh;
        width: 100%;
        background-color: rgb(152, 200, 222);
        display: inline;
    }
    .col-1
    {
        height: 100vh;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        
    }
    img
    {
        width: 50%;
        height: 40vh;
        margin-top: 25vh;
    }
     .row-1-img
   {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }
    .col-2
    {
        height: 100vh;
        width: 100%;
        background: white;
        margin-top: 2.5vh;
    }
    .img-editor
    {
        margin-top: 15vh;
        height: 100vh;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .row-2-stuff
    {
        width: 100%;
        height: 60vh;
        border: 1px solid black;
        margin-top: 5vh;
    }
    #btn-9
    {
        width: 60%;
        position: relative;
        top: -10vh;
        left: 18%;
    }
    #btn-10,#btn-11
    {
        position: relative;
        left: -15%;
        top: 5vh;
    }
    }